@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

.container-fluid {
    height: 100vh;
    background-color: #060822;
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 5rem;

    .container {

        .row {

            .col-12 {
                display: flex;
                justify-content: center;
                padding: 0 7%;

                figure {
                    text-align: center;

                    img {
                        width: 20%;
                        margin-bottom: 1.5rem;
                    }

                    figcaption {
                        color: #fff;
                        font-size: 1.7rem;
                        text-transform: capitalize;
                    }
                }

                input {
                    outline: none;
                    border: 0.1rem solid #ccc;
                    min-width: stretch;
                    height: 2.6rem;
                    font-size: 1.55rem;
                    line-height: 1.42857143;
                    background-image: none;
                    color: rgb(58, 57, 57);
                    border-radius: 0.4rem;
                    box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
                }

                .add-btn {
                    position: relative;
                    right: 1.4rem;
                    top: 0.7rem;

                    &:hover {
                        color: rgb(66, 135, 185);
                    }
                }

                .edit-btn {
                    position: relative;
                    right: 1.4rem;
                    top: 0.7rem;

                    &:hover {
                        color: rgb(13, 209, 13);
                    }
                }

                .eachitem {
                    background-color: rgb(85, 41, 220);
                    color: white;
                    width: stretch;
                    align-items: center;
                    padding: 0 0 0 0.8rem;
                    border-radius: 0.4rem;
                    margin-top: 0.9rem;
                    position: relative;
                    word-break: break-word;
                    display: flex;
                    align-items: center;
                    position: relative;
                    left: -6px;

                    &:hover {
                        background-color: #fff;
                        color: rgb(85, 41, 220);

                        i {
                            &:nth-of-type(1) {
                                color: rgb(13, 209, 13);
                            }

                            &:nth-of-type(2) {
                                color: red;
                            }
                        }
                    }

                    h3 {
                        width: 77%;
                        font-size: 1.55rem;
                    }

                    i {
                        position: absolute;
                        font-size: 1.2rem;
                        margin-bottom: 0.8rem;

                        &:nth-of-type(1) {
                            right: 2rem;
                            margin-right: 0.8rem;

                            &:hover {
                                color: green;
                            }
                        }

                        &:nth-of-type(2) {
                            right: 0.8rem;

                            &:hover {
                                color: rgb(100, 4, 4);
                            }
                        }
                    }

                }

                .showItems {
                    margin-top: 1.1rem;

                    .btn {
                        letter-spacing: 0.1em;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 30px;
                        max-width: 160px;
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .effect04 {
                        --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
                        display: var(--uismLinkDisplay);
                        color: #000;
                        outline: solid 2px #000;
                        position: relative;
                        transition-duration: 0.4s;
                        overflow: hidden;

                        &::before,
                        span {
                            margin: 0 auto;
                            transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                            transition-duration: 0.4s;
                        }

                        &:hover {
                            background-color: rgb(85, 41, 220);

                            span {
                                -webkit-transform: translateY(-400%) scale(-0.1, 20);
                                transform: translateY(-400%) scale(-0.1, 20);
                            }

                            &::before {
                                letter-spacing: 0.05em;
                                -webkit-transform: translateY(0) scale(1, 1);
                                transform: translateY(0) scale(1, 1);
                            }
                        }

                        &::before {
                            content: attr(data-sm-link-text);
                            color: #fff;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin: auto;
                            -webkit-transform: translateY(500%) scale(-0.1, 20);
                            transform: translateY(500%) scale(-0.1, 20);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:539px) {
    .container-fluid {
        .container {
            .row {
                .col-12 {
                    .eachitem {
                        h3 {
                            width: 65%;
                        }
                    }
                }
            }
        }
    }
}